{% extends "base.html.twig" %}

{% block title 'About Us | ' ~ parent()  %}
{# {% block title %} About Us | {{ parent() }}{% endblock %} #}

{% block body %}
    <img src="{{asset('images/logo1.png')}}" width="200px" alt="logo1" class="my-12 rounded-full shadow-md">
    <h1 class="text-gray-700"> Build with <span class="text-pink-500"> &hearts;</span> by e-vidole </h1>
    <p class="mt-5"> 
        <a href="{{path('app_home')}}" class=""> Revenir à la page d'acceuil</a>

    </p>



{% endblock %}