{% extends "base.html.twig" %}

{% block title 'Hello City!' %}

{% block body %}
    <img src="{{asset('images/logo1.png')}}" width="200px" alt="logo1" class="h-50 mt-12 rounded shadow-md">
    <h1 class="mt-5 text-3xl sm:text-5xl semi-bold text-indigo-600"> Hello from Quebec </h1>
    <p class="text-lg text-gray-800"> It's currently {{ 'now'|date('h:i A') }}.</p>



{% endblock %}